#ifndef _FIRMWARE_CONFIG
#define _FIRMWARE_CONFIG
/**************************************************************************************************/
/*
 *                      Eaton Electrical
 *
 *                      Proprietary Information
 *                      (C) Copyright 2021
 *                      All rights reserved
 *
 ***************************************************************************************************
 *  Written by:         Aaron Joseph
 *                      Eaton Electrical
 *                      1000 Cherrington Parkway
 *                      Pittsburgh, PA  15108-4312
 *                      (412) 893-3300
 *//**
 *
 * @brief macros defining configuration for building 1 pole BR AFGF firmware
 *
 * @file br_1p_afgf_firmware.config
 * @ingroup hardware_init
 *
 *
 *//*
 *
 **************************************************************************************************/
#include "types.h"
#include "stm32g0xx.h"


/** @name trip_configuration macros that define how trip signals are fired
 * @{ */

#define TRIP_CONFIGURATION INDIVIDUAL_TRIP_FIRING
#define NUM_POLES 2
#define GFCI

/** @} */


#endif /* _FIRMWARE_CONFIG */



