#ifndef _FIRMWARE_CONFIG
#define _FIRMWARE_CONFIG
/**************************************************************************************************/
/*
 *                      Eaton Electrical
 *
 *                      Proprietary Information
 *                      (C) Copyright 2021
 *                      All rights reserved
 *
 ***************************************************************************************************
 *  Written by:         Aaron Joseph
 *                      Eaton Electrical
 *                      1000 Cherrington Parkway
 *                      Pittsburgh, PA  15108-4312
 *                      (412) 893-3300
 *
 *	Edited by:			James Frances
 *						Commercial & Residential Distribution Solutions
 *                      1000 Cherrington Parkway
 *                      Pittsburgh, PA  15108-4312
 *                      (724) 759-5500
 *//**
 *
 * @brief macros defining configuration for building 2 pole SB2.0 GFCI firmware
 *
 * @file sb2-0_2p_gfci_firmware.config
 * @ingroup hardware_init
 *
 *
 *TODO JF: modify based on necessary defines for SB2.0 2P
 *
 **************************************************************************************************/
#include "types.h"
#include "stm32g0xx.h"
#include "firmware_config_common.h"

/** @name trip_configuration macros that define how trip signals are fired
 * @{ */

#define BOARD_CONFIGURATION (BOARD_SB2)

#define GF_CONFIGURATION (GF_CONFIG_INVERSE_TIMING)

#define GN_CONFIGURATION (GN_CONFIG_2_CT)

#define AF_CONFIGURATION (AF_NOT_ENABLED)

//combined firing will likely be different for SB2
#define TRIP_CONFIGURATION (TRIP_CONFIG_COMBINED_FIRING)

//Specific overload will be needed.
#define OVERLOAD_CONFIGURATION (OVERLOAD_NOT_ENABLED)

#define AUTO_MONITOR_CONFIGURATION (AUTO_MONITOR_ENABLED)

#define BUTTON_LED_CONFIGURATION (BUTTON_LED_NOT_SHARED_PIN)

#define NO_POWER_TRIP_CONFIGURATION (NO_POWER_TRIP_CIRCUIT_ENABLED)

#define REGULATE_PIN_CONFIGURATION (REGULATE_PIN_NOT_ENABLED)

#define SOLENOID_CONFIGURATION (SOLENOID_DUAL)

#define RATING_SHUNT_CAL_CONFIGURATION (RATING_SHUNT_CAL_NOT_ENABLED)

#define NUM_POLES_CONFIGURATION (TWO_POLE)

#define SOFTWARE_ZCD_CONFIGURATION (SOFTWARE_ZCD_ENABLED)

#define LED_CONFIGURATION (RGB_LED)

#define GROUND_FAULT_FACTOR (1553)

#define LOAD_VOLTAGE_FACTOR (59)

#define INPUT_SCENARIO_DEBOUNCER (5)

#define SELF_TEST_GF_COIL_OK_MIN                (300000)
#define AUTO_MONITOR_TRIP_TEST_ADC_INTEGRAL_MIN  (10000)   


#define ZCD_2
#define POWER_REMAINS_AFTER_TRIP
#define RESET_ON_TRIP
#define ENABLE_TRIPPING
#define REPORT_SS_DIAGNOSTICS

#define SAVE_ALL_CLEAR
#define SAVE_RUNTIME_FAULTS
#define POWER_LOSS_DETECTION
#define ADD_SS_REQUEST_DELAY
#define SB20_PUL

#define UPDATE_BREAKER_STATUS_RATE (120) //1 second update currently 
//#define DEBUG_STM32CUBE_MONITOR_SNAPSHOT_MODE


/** @} */


#endif /* _FIRMWARE_CONFIG */



