#ifndef _FIRMWARE_CONFIG
#define _FIRMWARE_CONFIG
/**************************************************************************************************/
/*
 *                      Eaton Electrical
 *
 *                      Proprietary Information
 *                      (C) Copyright 2021
 *                      All rights reserved
 *
 ***************************************************************************************************
 *  Written by:         Aaron Joseph
 *                      Eaton Electrical
 *                      1000 Cherrington Parkway
 *                      Pittsburgh, PA  15108-4312
 *                      (412) 893-3300
 *//**
 *
 * @brief macros defining configuration for building 1 pole BR AFGF firmware
 *
 * @file br_1p_afgf_firmware.config
 * @ingroup hardware_init
 *
 *
 *//*
 *
 **************************************************************************************************/
#include "types.h"
#include "stm32g0xx.h"
#include "firmware_config_common.h"

/** @name trip_configuration macros that define how trip signals are fired
 * @{ */

#define BOARD_CONFIGURATION (BOARD_CH)

#define GF_CONFIGURATION (GF_CONFIG_INVERSE_TIMING)

#define GN_CONFIGURATION (GN_CONFIG_2_CT)

#define AF_CONFIGURATION (AF_NOT_ENABLED)

#define OVERLOAD_CONFIGURATION (OVERLOAD_NOT_ENABLED)

#define TRIP_CONFIGURATION (TRIP_CONFIG_COMBINED_FIRING)

#define AUTO_MONITOR_CONFIGURATION (AUTO_MONITOR_ENABLED)

#define BUTTON_LED_CONFIGURATION (BUTTON_LED_NOT_SHARED_PIN)

#define NO_POWER_TRIP_CONFIGURATION (NO_POWER_TRIP_CIRCUIT_ENABLED)

#define REGULATE_PIN_CONFIGURATION (REGULATE_PIN_NOT_ENABLED)

#define SOLENOID_CONFIGURATION (SOLENOID_DUAL)

#define RATING_SHUNT_CAL_CONFIGURATION (RATING_SHUNT_CAL_NOT_ENABLED)

#define NUM_POLES_CONFIGURATION (TWO_POLE)

#define SOFTWARE_ZCD_CONFIGURATION (SOFTWARE_ZCD_ENABLED)

#define LED_CONFIGURATION (RGB_LED)

#define GROUND_FAULT_FACTOR (1553)

#define LOAD_VOLTAGE_FACTOR (66)

#define SELF_TEST_GF_COIL_OK_MIN              (1000000)
#define SELF_TEST_GF_COIL_OK_MAX              (3000000)

#define AUTO_MONITOR_TRIP_TEST_GF_INTEGRAL_MIN                       (3000000)   
#define AUTO_MONITOR_TRIP_TEST_GF_INTEGRAL_MAX                       (15000000)

#define ZCD_2


/** @} */


#endif /* _FIRMWARE_CONFIG */



