#ifndef _FIRMWARE_CONFIG
#define _FIRMWARE_CONFIG
/**************************************************************************************************/
/*
 *                      Eaton Electrical
 *
 *                      Proprietary Information
 *                      (C) Copyright 2021
 *                      All rights reserved
 *
 ***************************************************************************************************
 *  Written by:         Aaron Joseph
 *                      Eaton Electrical
 *                      1000 Cherrington Parkway
 *                      Pittsburgh, PA  15108-4312
 *                      (412) 893-3300
 *//**
 *
 * @brief macros defining configuration for building 1 pole BR AFCI firmware
 *
 * @file br_1p_afci_firmware.config
 * @ingroup firmware_config
 *
 *
 *//*
 *
 **************************************************************************************************/
#include "types.h"
#include "stm32g0xx.h"
#include "firmware_config_common.h"

#define BOARD_CONFIGURATION (BOARD_BR)

#define GF_CONFIGURATION (GF_NOT_ENABLED)

#define GN_CONFIGURATION (GN_NOT_ENABLED)

#define AF_CONFIGURATION (AF_WITH_LED_FIX)

#define OVERLOAD_CONFIGURATION (OVERLOAD_ENABLED)

#define TRIP_CONFIGURATION (TRIP_CONFIG_COMBINED_FIRING)

#define AUTO_MONITOR_CONFIGURATION (AUTO_MONITOR_NOT_ENABLED)

#define BUTTON_LED_CONFIGURATION (BUTTON_LED_SHARED_PIN)

#define NO_POWER_TRIP_CONFIGURATION (NO_POWER_TRIP_CIRCUIT_NOT_ENABLED)

#define REGULATE_PIN_CONFIGURATION (REGULATE_PIN_ENABLED)

#define SOLENOID_CONFIGURATION (SOLENOID_SINGLE)

#define RATING_SHUNT_CAL_CONFIGURATION (RATING_SHUNT_CAL_15_20A)

#endif /* _FIRMWARE_CONFIG */



